body {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}


.nav-container {
    height: 72px;
    background-color: #E5E5E5;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.wrapper-left {
    max-width: 80%;
    margin: 0px 0px 20px 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    line-height: 84px;
    font-size: 24px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 84px;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li a:hover {
    opacity: 0.7;
    transition: 0.3s ease;
    font-size: 2rem;
}

.nav-items li:nth-last-of-type(2) {
    margin: 2px;
}

.nav-items li:nth-last-of-type(3) {
    margin: 2px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 2px;
}

.nav-items li:nth-last-of-type(4) {
    margin: 2px;
}

.nav-items li a {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 72px;
    text-decoration: none;
    color: black;
}

header {
    align-items: stretch;
    max-width: 50%;
}


h1 {
    font-size: 140px;
    line-height: 1;
}

.hero-content {
    max-width: 603px;
    height: 180px;
    justify-content: center;
    text-align: center;
    /* margin: 20px 1px 80px 30px; */
}

.hero-image {
    max-width: 100%;
    height: 75%;
    filter: grayscale(80);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

a {
    text-decoration: none;
}

.php {
    max-width: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-title {
    text-align: left;
}

/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.big {
    font-size: 140px;
    max-width: 651px;
    height: 400px;
    line-height: 1;
    position: absolute;
    top: -95%;
    left: 50%;
}

.small {
    max-width: 500px;
    height: 98px;
    letter-spacing: 1.2;
    font-size: 20px;
    margin-top: 100px;
    top: -5%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.info-container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
}

.wrapper-right {
    max-width: 1200px;
    align-items: center;
}


.info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    height: 300px;
    max-width: 100%;
    margin-right: 50px;
}

.info-wrapper .logo {
    font-weight: normal;
}

.social:hover {
    opacity: 0.7;
    transition: 0.3 ease;
}

.info-wrapper .big {
    font-size: 140px;
    line-height: 130px;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    padding: 1rem;
    height: 72px;
}

.container {
    padding: 3em;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.container2 {
    padding: 3em;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.footer-column {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 380px;
  }

.github {
    margin-top: 20px;
    margin-bottom: 20px;
}