.hero-image {
    background-color: #3A2C50;
    height: 50%;
    background-position: center;
    position: relative;
}

.text-hero {
    font-size: 140%;
    color: #F5D1D1;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5D1D1;
    font-size: 24px;
}

.uppercase-hero {
    text-transform: uppercase;
    font-weight: bold;
    color: #D56650;
}

.small {
    font-size: 20px;
    color: #F5D1D1;
}

.header-hero {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #F5D1D1;
}

