table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    max-width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

td, th {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #D56650;
    color: #fff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

td {
    border: 1px solid #dddddd;
}

.source {
    font-size: 80%;
    /* text-align: left; */
    opacity: 0.7;
}

.red {
    color: #D56650;;
    font-size: 94px;
    margin-bottom: 0%;
    margin-top: 0%;

}

.container-small{
    border: 1px solid grey;
    max-width: 50%;
    font-size: 75%;
}

.container-small-text{
    margin-bottom: 5%;
    margin-top: 0%;
    color: rgb(31, 31, 31);
    font-style: italic;
}

.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    padding: 1em;
    
  }

.grid-container2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
  }

.grid-extra {
    column-gap: 100px;
    align-items: center;
}

.grid-extra2 {
    column-gap: 30px;
    align-items: center;
}
  
