{% include "base.html.twig" %}

{# {% block title %}Dice{% endblock %} #}

{% block content %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>{{ title }}</h2>

        {% if count > 0 %}
        <div class="single-card">
            <img class="cards" src="{{ asset("img/cards/" ~ card_deck ~ ".svg" ) }}" width="200" height="280"
                alt="{{card_deck}}">
        </div>
        <div>
            <p>Kort kvar: {{count}}</p>
        </div>
        {% else %}
        <div>
            <p>Inga kort kvar!</p>
        </div>
        {% endif %}


    </div>

    {% include 'footer.twig' %}
</body>

{% endblock %}