{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="wrapper-left">
        <header>
            <div class="hero-content">
                <h1 class="hero-title">MVC 2022</h1>
            </div>
            <div>
                <img class="hero-image" src="img/img.jpg" alt="profile" />
            </div>
        </header>
    </div>
    <div class="info-wrapper">
        <img class="logo arrow" src="img/arrow.svg" alt="">
        <div class="logo small">Jag är en 25-årig tjej från sommarstaden Västervik som läser andra terminen på
            distansprogrammet Webprogrammering på BTH. Jag har ingen efrarenhet av programmering sedan tidigare så därav
            är denna utbildning en ny utmaning för mig att ta mig an. Jag har allitd haft en förkärlek till att skapa
            saker och få vara kreativ. </div>
        <div class="logo big">EMMIE FAHLSTRÖM</div>
    </div>


    {% include 'footer.twig' %}
</body>