<div class="nav-container">
    <div class="wrapper">
        <nav>
            <div class="logo">
                LP4
            </div>
            <div class="logo">
                BTH
            </div>
            <ul class="nav-items">
                <li>
                    <a href="{{ url("index") }}">Index</a>,
                </li>
                <li>
                    <a href="{{ path("about") }}">About</a>,
                </li>
                <li>
                    <a href="{{ path("report") }}">Report</a>,
                </li>
                <li>
                    <a href="{{ path("card") }}">Card</a>
                </li>
            </ul>
        </nav>
    </div>
</div>