{# templates/lucky_number.html.twig #}

{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Report</h2>
        <h3>KMOM01</h3>
        <p>De kunskaper jag har inom objektorientering sedan tidigare är det som jag har lärt mig i tidigare kurser
            inom Webbprogrammering på Bth. Innan denna kurs läste jag objektorienterad Python och har även läst lite
            inom JavaScript i vintras.</p>
        <p>För att komma igång och skapa sina första klasser måste man måste förstå själva uppgyggnaden av hur en
            klass fungerar. Jag ser det som att klass är som en mall
            för hur ett objekt ska kunna skapas. När man skapar en klass instansieras ett objekt av klassen som går
            efter mallen hur klassen är uppbyggd. </p>
        <p>Jag tycker den var ganska svår att förstå sig på då man fick försöka klura ut saker på egen hand denna
            gång när man inte hade en mall som man tidigare brukar ha att gå efter. Eftersom jag är lite bekant med
            objektorientering innan är det lättare att förstå hur objektorientering fungerar i PHP, även att jag
            tycker det verkar lite klurigare än hur jag har använt det innan. Normalt sett tycker jag det är jättekul
            att designa webbsidor men jag känner att det fick komma i andra hand denna gång, det vill säga strukruren på
            css-koden och sidans responsivitet. Jag känner att jag ville lägga mest energi på att få alla delar att
            faktiskt fungera då jag hade ganska mycket problem med det vilket gjorde att jag fick avinstallera och
            ominstallera symfony flera gånger för att börja om på ny kula. </p>
        <p>Just när det kommer till programmering lär jag mig inte lika mycket när jag sitter och läser ett långt
            dokument utan att få göra det praktiskt så därav skummade jag bara artikeln lite snabbt utan att läsa
            den allt för djupt. Jag tycker ändå att det finns många värdefulla delar i artikeln som går att ha
            användning av när man ska skriva sin kod som man lätt kan kolla upp och få svar på. Eftersom jag inte är
            så insatt i PHP sedan tidigare (förutom webtec-kursen i höstas jag läste) är kapitlet om “the basics”
            mest värdefullt för mig för tillfället. Jag har användning av det för att kunna repetera och lära mig
            grunderna i Php eftersom jag inte tyckte det satte sig tillräckligt sist. Jag tycker även det är bra att
            artikeln har länka i sig och hänvisar vidare till exempelvis manualen om man vill lära sig om till
            exempel objektorienterad PHP.</p>
        <p>Mitt TIL är hela grejen med Symfony. Jag känner absolut inte att jag kan det eller förstår det än, men
            det är ju bara första veckan så jag antar att det kommer sätta sig lite längre fram. Jag är fortfarande
            ganska osäker på vad jag håller på med. Har försökt att läsa lite mer på webben för att få ett
            sammanhang, men det skulle jag kunna fortsätta med hur länge som helst eftersom det känns så brett.
            Därför får jag nöja mig med att känna att jag i alla fall har kommit igång och fått en överblick om vad
            kursen kommer innehålla.</p>
    </div>

    {% include 'footer.twig' %}
</body>