{% include 'base.html.twig' %}


<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Lägg till ny bok</h2>
        <div class="form-container">
            <form method="post">
                <fieldset>
                    <p>
                        <label>Titel
                            <input type="text" name="title" value="">
                        </label>
                    </p>
                    <p>
                        <label>ISBN
                            <input type="text" name="ISBN" value="">
                        </label>
                    </p>
                    <p>
                        <label>Författare
                            <input type="text" name="author" value="">
                        </label>
                    </p>
                    <p>
                        <label>Bild
                            <input type="text" name="image" value="">
                        </label>
                    </p>
                    <p>
                        <input type="submit" value="Lägg till bok">
                    </p>
                </fieldset>
            </form>
        </div>
        <a class="button" href="../show">Tillbaka till alla böcker</a>
    </div>
</body>