{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Bibliotek</h2>
        <p>Välkommen till biblioteket!</p>
        <p>Följ länken nedan som tar dig vidare till böckerna.</p>
        <a class="button" href="{{ path("library_show_all") }}">Visa böcker i biblioteket</a>
    </div>

    {% include 'footer.twig' %}
</body>