.hero-image {
    background-color: #E8412E;
    height: 50%;
    background-position: center;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-hero {
    font-size: 80px
}

.text-hero {
    font-size: 140%;
}